/vendor/
composer.lock
.idea
/var/
.phpunit.result.cache
.deptrac.cache
/config/reference.php
/.php-cs-fixer.cache
/public/media/cache/
/docs/node_modules/
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/tests_e2e/last-failure.html